[MASTER]
load-plugins=
    pylint_pytest,
    pylint.extensions.check_elif,
    pylint.extensions.bad_builtin,

[FORMAT]
max-line-length=100

[MESSAGES CONTROL]
disable=missing-docstring,invalid-name

[DESIGN]
max-parents=13
